body {
margin:0px;
font-family:arial, sans-serif, helvetica;
font-size: 12px;
color:#444;
background: url('../img/Background.png') repeat-x;
}
a img{
border:none;
}
a{
color:#444;
text-decoration: none;
}
#header {
background: url("../img/HeaderBG.png") no-repeat;
height: 125px;
margin: 0 auto;
width: 950px;
}
#page {
-moz-border-radius-topleft: 25px;
-moz-border-radius-topright: 25px;
background-color: #FFFFFF;
margin: 50px auto 0;
min-height: 500px;
width: 900px;
padding:25px;
}
#userinfo
{
color: #CCCCCC;
float: right;
margin-right: 15px;
margin-top: 20px;
}
#userinfo input{
background-color: #212121;
border: 1px solid #CCCCCC;
color: #CCCCCC;
margin:0 10px 3px 0;
}
#log_out_btn{
float: right;
margin: 10px 0 0 0 !important;
}
#forgotten{
float: right;
}
#forgotten a{
color:#ccc;
text-decoration:none;
}
#forgotten a:hover{
color:#eee;
text-decoration:none;
}
#languages{
float:left;
list-style: none outside none;
margin: 10px 0 0 15px;
padding: 0;
}
#languages li{
display:inline;
float:left;
margin-right: 7px;
}
#languages a{
border:0;
}
table.cooltable{
background-color: #F9F9F9;
border: 1px solid #CCCCCC;
width: 100%;
border-spacing: 0;
margin:5px 0;
}
table.cooltable thead{
background-color: #E0E0E0;
font-weight: bold;
text-align: center;
}
table.cooltable tr.even{
background-color:#F0F0F0;
}
table.cooltable td{
margin:0;
padding-left: 10px;
}
td.editBtn{
width:100px;
text-align:center;
}
/* Menu */
#menu{
margin-top:0;
margin-left: auto;
margin-right:auto;
color: #ccc;
width:900px;
}
#menu a{
margin: 0;
padding:0;
color: #ccc;
text-align: center;
text-decoration: none;
}
li.last{
border:none !important;
}
li.level_1{
display: block;
margin: 0 2px;
padding:2px 5px;
background: #333;
border-left:1px solid #fff;
border-right:1px solid #fff;
border-bottom:1px solid #fff;
list-style: none;
float: left;
}
ul.level_2{
width:150px;
position:absolute;
z-index:100;
margin: 2px 0 0 -6px;
background: #333;
padding:0;
border:1px solid #fff;
visibility:hidden;
}
li.level_2{
margin:0 10px;
padding:3px 0;
list-style: none;
border-bottom:1px solid #ccc;
}
ul.level_3{
position:absolute;
z-index:100;
margin: 0 0 0 140px;
background: #333;
padding:0;
border:1px solid #fff;
visibility:hidden;
}
li.level_3{
margin:0 10px;
padding:3px 0;
list-style: none;
border-bottom:1px solid #ccc;
}
/* !Menu */

.PositiveMessage{
background-color: #CCFFCC;
border: 1px solid #66FF66;
color: #006600;
display: block;
margin: 10px 0;
padding: 2px 20px;
}
.NegativeMessage{
background-color: #FFCCCC;
border: 1px solid #FF6666;
color: #660000;
display: block;
margin: 10px 0;
padding: 2px 20px;
}
#entries{
list-style: none outside none;
margin: 0;
padding: 0;
}
#entries li{
display:inline;
margin-right: 7px;
}
#entries li:hover{
color: #6A8F03;
cursor: pointer;
text-decoration: none;
}
#cancelBtn{
    display:none;
}