body {
margin:0px;
font-family:arial, sans-serif, helvetica;
font-size: 12px;
color:#444;
background: url('../img/Background.png') repeat-x;
}
a img{
border:none;
}
#header {
background: url("../img/HeaderBG.png") no-repeat;
height: 125px;
margin: 0 auto;
width: 950px;
}
#page {
-moz-border-radius-topleft: 25px;
-moz-border-radius-topright: 25px;
background-color: #FFFFFF;
margin: 50px auto 0;
min-height: 500px;
width: 900px;
padding:25px;
}
#userinfo
{
color: #CCCCCC;
float: right;
margin-right: 15px;
margin-top: 20px;
}
#userinfo input{
background-color: #212121;
border: 1px solid #CCCCCC;
color: #CCCCCC;
margin:0 10px 3px 0;
}
#log_out_btn{
float: right;
margin: 10px 0 0 0 !important;
}
#forgotten{
float: right;
}
#forgotten a{
color:#ccc;
text-decoration:none;
}
#forgotten a:hover{
color:#eee;
text-decoration:none;
}
#languages{
float:left;
list-style: none outside none;
margin: 10px 0 0 15px;
padding: 0;
}
#languages li{
display:inline;
float:left;
margin-right: 7px;
}
#languages a{
border:0;
}

/* Menu */
#menu{
margin-top:0;
margin-left: auto;
margin-right:auto;
color: #ccc;
width:900px;
}
#menu a{
margin: 0;
padding:0;
color: #ccc;
text-align: center;
text-decoration: none;
}
li.last{
border:none !important;
}
li.level_1{
display: block;
margin: 0 2px;
padding:2px 5px;
background: #333;
border-left:1px solid #fff;
border-right:1px solid #fff;
border-bottom:1px solid #fff;
list-style: none;
float: left;
}
ul.level_2{
width:150px;
position:absolute;
z-index:100;
margin: 2px 0 0 -6px;
background: #333;
padding:0;
border:1px solid #fff;
visibility:hidden;
}
li.level_2{
margin:0 10px;
padding:3px 0;
list-style: none;
border-bottom:1px solid #ccc;
}
ul.level_3{
position:absolute;
z-index:100;
margin: 0 0 0 140px;
background: #333;
padding:0;
border:1px solid #fff;
visibility:hidden;
}
li.level_3{
margin:0 10px;
padding:3px 0;
list-style: none;
border-bottom:1px solid #ccc;
}

/* !Menu */

#titles{
list-style: none outside none;
margin: 0;
padding: 0;
}
#titles li{
display:inline;
margin-right: 7px;
}

#titles li:after {
  content: ", ";
}

#titles li.last:after {
  content: "";
}